<%- include('./partials/header') %>

<!-- MAIN -->

<!-- main container -->
<div class="bg-image">
  <div class="w-full h-full flex flex-col justify-center items-center">
    <h1 class="text-6xl font-bold text-green-200 mb-2">Colombia Sostenible</h1>
    <h2 class="text-xl font-bold text-green-200">Soluciones basadas en la Naturaleza</h2>
  </div>
  <div class="flex absolute bottom-0 right-0 text-green-200 text-xs>">
    <a target="_blank" href="http://www.juanarredondo.com/overview/">Magdalena Basin © Juan Arredondo</a>
  </div>
</div>

<%- include('./partials/footer') %>
