<%- include('./partials/header') %>

<!-- MAIN -->

<div class="w-full h-screen top-0 left-0 absolute -z-50">
<div class="w-full relative">
    <div class="w-full h-full top-0 left-0 absolute bg-gradient-to-b from-black opacity-30"></div>
    <div class="w-full h-full flex flex-col absolute top-0 left-0 justify-center items-center">
        <div class="text-6xl font-bold text-green-100 mb-2">Colombia Sostenible</div>
        <div class="text-xl font-bold text-green-100">Soluciones basadas en la Naturaleza</div>
    </div>
    <img
    src="https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/magdalena01.jpg?crop=0,0,4000,2200&amp;wid=4000&amp;hei=2200&amp;scl=1.0" 
  />
    <div class=" flex absolute bottom-0 right-0 text-green-100 text-xs>
        <span><span class=" space-right"></span>Magdalena Basin <span class="c-copy">©</span> Juan Arredondo</span>
    </div>

</div>
</div>

<%- include('./partials/footer') %>
