@tailwind base;
@tailwind components;
@tailwind utilities;

/* main page background image */
.bg-image {
    background-image: url('https://cdn.lightgalleries.net/50b3a7bf5f07e/images/Overview_024-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

.show-img {
  background-image: url('../images/FLOODING_1442.JPEG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

  /* form divs */