<%- include('../partials/header') %> 
    
<!-- MAIN -->
<!-- Make sure to add name="value" to connect it w/ the DB schema/model -->
    <% if (user) { %>
       <form action="/projects" method="POST" autocomplete="off">
           <label>Nombre del Proyecto
               <input type="text" name="name">
           </label><br>
           <label>Ciudad
               <input type="text" name="city">
           </label><br>
           <label>Enfoque
               <input type="text" name="objective">
           </label><br>
           <label>Descripción
               <input type="text" name="description">
           </label><br>
           <label>Duración
               <input type="text" name="duration">
           </label><br>
           <label>Líder del Proyecto
               <input type="text" name="implementedBy">
           </label><br>
           <label>Estado
            <input type="text" name="status">
               
           </label><br>
            <button type="submit">Agregar</button>
       </form>
    <% } else { %>
        <h1>Por favor ingresa con tu usuario antes de agregar un proyecto</h1>
    <% } %>

<%- include('../partials/footer') %> 