<%- include('../partials/header') %>

<!-- Main -->

<!-- main container -->
<div class="w-screen h-screen">

  <% if (user) { %>
  <div class="w-full h-full flex flex-col justify-center items-center">
<form class="w-full max-w-sm"
      action="/projects"
      method="POST"
      autocomplete="off"
      enctype="multipart/form-data"
      >
  <div class="flex items-center border-b border-black py-2">
    <input class="appearance-none bg-transparent border-none w-full 
          text-black mr-3 py-1 px-2 leading-tight focus:outline-none" 
          type="text" placeholder="Nombre del Proyecto" name="name" required
    ></div></br>

    <div class="flex items-center border-b border-black py-2">
      <input class="appearance-none bg-transparent border-none w-full 
                text-black mr-3 py-1 px-2 leading-tight focus:outline-none" 
                type="text" placeholder="Ciudad" name="city" required
    ></div> </br>

    <div class="flex items-center border-b border-black py-2">
      <input class="appearance-none bg-transparent border-none w-full 
                text-black mr-3 py-1 px-2 leading-tight focus:outline-none" 
                type="text" placeholder="Enfoque" name="objective" required
    ></div> </br>
    
    <div class="flex items-center border-b border-black py-2">
      <input class="appearance-none bg-transparent border-none w-full 
                text-black mr-3 py-1 px-2 leading-tight focus:outline-none" 
                type="text" placeholder="Líder del Proyecto" name="implementedBy" required
    ></div> </br>

    <div class="flex items-center border-b border-black py-2">
      <input class="appearance-none bg-transparent border-none w-full 
                text-black mr-3 py-1 px-2 leading-tight focus:outline-none" 
                type="text" placeholder="Duración" name="duration" required
    ></div> </br>

    <div class="flex items-center border-b border-black py-2">
      <select class=" text-black w-full px-4 py-2 focus:outline-none bg-transparent" name="status" required>
        <option value="" disabled selected hidden>Selecciona el Estado</option>
        <option value="No Ejecutado">No Ejecutado</option>
        <option value="Ejecutado">Ejecutado</option>
      </select>
    </div>

    <div class="flex items-center py-2">
      <textarea
          class="w-full p-4 border-b border-black bg-transparent text-black"
          name="description"
          placeholder="Descripción"
          required
        ></textarea>
    </div>

    <div class="flex items-center border-b border-black py-4">
      <input type="file" name="image" class="bg-transparent">
    </div>

    <input type="hidden" name="author" value=<%= user.id %>>
    
    <button
        type="submit"
        class="w-full mt-10 mb-1 drop-shadow-md bg-transparent border border-black hover:scale-105 px-4 py-2 text-lg text-black tracking-wide"
      >
        Agregar
      </button>


    </form>


  </div>
  <% } else { %>
    <div class="w-full h-full flex flex-col justify-center items-center">
      <h1 class="text-6xl font-semibold text-black mb-2">Por favor ingresa</h1>
    </div>
    <% } %>
  </div>

<%- include('../partials/footer') %>
